<section class="cart_container m-3">
  <div class="my-1">
    <h1 class="text-center text-">CART</h1>
    <p class="cart-id" hidden>{{cid}}</p>
  </div>
  <div>
    <h3>Products</h3>
    {{#if products}}
    <table class="table table-striped ">
      <thead class="rounded">
        <tr>
          <th scope="col">
            <h3>Product</h3>
          </th>
          <th scope="col">
            <h3>Price x units</h3>
          </th>
        </tr>
      </thead>
      <tbody class="rounded" id="users">
        {{#each products}}
        <tr>
          <td><strong>
              <p>{{this.product.title}}</p>
            </strong></td>
          <td><strong>${{this.product.price}} x {{this.quantity}} Units</strong></td>
          <td><button class="btn btn-danger btn-delete" data-id="{{this._id}}">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div>
      <button class="btn btn-dark" onclick="location.href='/api/carts/{{cid}}/empty'">Empty Cart</button>
      <button class="btn btn-outline-dark" onclick="location.href='/api/carts/{{cid}}/purchase'">Check Out</button>
    </div>
    {{else}}
    <div>
      <h3>Empty Cart.</h3>
    </div>
    {{/if}}

</section>
<script src="/js/cart.js"></script>